.auth-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/assets/images/auth-container/background.jpg');
  background-position: center center;

  .form-container {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 6px;
    padding: 25px 64px 64px 64px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: relative;
  }
}
